.admin_page_wrap {
  position: relative;
  /* margin-bottom: 20px; */
}
.admin_page_main_button {
  position: absolute;
  top: 12px;
  right: 170px;
  color: var(--bun);
  background-color: var(--background);
  border: 1px solid var(--bun);
  padding: 7px 12px;
  border-radius: var(--radius-lg);
}
.admin_page_button {
  position: absolute;
  top: 12px;
  right: 70px;
  color: var(--tomato);
  background-color: var(--background);
  border: 1px solid var(--tomato);
  padding: 7px 12px;
  border-radius: var(--radius-lg);
}
