<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.esg.profile.dao.ProfileDao">
    <select id="getProfileById" resultType="ProfileResponse">
        SELECT
        user_id,
        nickname,
        status,
        role,
        created_at,
        profile_img,

        <choose>
            <when test="requestId != null">
                EXISTS (
                SELECT 1
                FROM user_favorites
                WHERE user_id = #{requestId}
                AND target_user_id = #{userId}
                ) AS isFavorite
            </when>
            <otherwise>
                false AS isFavorite
            </otherwise>
        </choose>
        ,

        <choose>
            <when test="requestId != null">
                EXISTS (
                SELECT 1
                FROM user_reports
                WHERE user_id = #{requestId}
                AND target_user_id = #{userId}
                AND status = 'pending'
                ) AS isReported
            </when>
            <otherwise>
                false AS isReported
            </otherwise>
        </choose>

        FROM users
        WHERE status != 'deleted'
        AND user_id = #{userId}
    </select>

    <select id="getProfilePost" resultType="ProfilePostResponse">
        SELECT post_id,
               title,
               created_at

        FROM posts
        WHERE status !='deleted' and is_notice != 1 and user_id = #{userId}
        ORDER BY created_at DESC LIMIT 5
    </select>

    <select id="getProfileGram" resultType="ProfileGramResponse">
        SELECT gram_id,
               title,
               created_at
        FROM grams
        WHERE status !='deleted' and user_id = #{userId}
        ORDER BY created_at DESC LIMIT 5
    </select>

    <select id="getProfileChoice" resultType="ProfileChoiceResponse">
        SELECT c.choice_id,
               p.name AS productName,
               c.created_at
        FROM choices c
                 INNER JOIN
             product_items p ON c.product_id = p.product_id
        WHERE c.is_selected = 1
          AND c.user_id = #{userId}
        ORDER BY c.created_at DESC LIMIT 5
    </select>

    <insert id="insertFavorite">
        INSERT INTO user_favorites (user_id, target_user_id, description)
        VALUES (#{userId}, #{targetUserId}, #{description})
    </insert>

    <delete id="deleteFavorite">
        DELETE
        FROM user_favorites
        WHERE target_user_id = #{targetUserId}
          AND user_id = #{userId}
    </delete>

    <select id="getReportDetail" resultType="ReportResponse">
        SELECT report_id, reason, status, created_at
        FROM user_reports
        WHERE user_id = #{userId}
          AND target_user_id = #{targetUserId}
          AND status = 'pending'
    </select>

    <insert id="insertReport">
        INSERT INTO user_reports (user_id, target_user_id, reason)
        VALUES (#{userId}, #{targetUserId}, #{reason})
    </insert>

    <delete id="deleteReport">
        DELETE
        FROM user_reports
        WHERE report_id = #{reportId}
          AND user_id = #{userId}
          AND target_user_id = #{targetUserId}
          AND status = 'pending'
    </delete>

</mapper>